<section class="todoapp">
  <header class="header">
    <h1>todos</h1>
  </header>

  <section class="main">
    <ul class="todo-list">
      <li>
        <div class="view">
          <input class="toggle" type="checkbox">
          <label>Do Laundry</label>
        </div>
      </li>
    </ul>

  </section>
</section>

<script>
  $(() => {
    $.get("/tasks").success((data) => {
      let htmlString = "";

      $.each(data, (index, task) => {
        let liElement = '<li><div class="view"><input class="toggle" type="checkbox"><label>' +
          task.title +
          '</label></div></li>';
        htmlString += liElement;
      });
      let ulTodos = $('.todo-list');
      ulTodos.html(htmlString);
    });
  });
</script>